body {
        
    Font-family: "Roboto", sans-serif;
    
    Font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;

        
    background-image: url(main_img.jpg);
    background-position: top center;
    background-repeat: no-repeat;
}
a {
    text-decoration: none;
    color: #ffffff;
    margin-left: 35px;
    margin-right: 35px;  
}
main {
  font-size: 34px;
}
.navigation {
    display: flex;
    flex-direction: row;    
    align-items: center;
    margin: 28px; 
    width: 100%;
    padding: 0% 24% 0% 24%;
    letter-spacing: 0.25px;
}
.HISTORY {
    display: block;
    padding-top: 380px;
    padding-left: 10%;
    padding-right: 10%;
    margin: 40px;
    letter-spacing: 3.25;
    text-shadow: black 1px 1px 0, black -1px -1px 0,
                 black -1px 1px 0, black 1px -1px 0; 
}
